
<html>
<body>
    <!-- <style>
      body {
        background-image: url("../assets/bgimg.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style> -->

<div class="header">
    <img src="assets/job-search1.png" alt="JoBSeeKerS">    
    <div class="inner-header">
        <h1 class="logo">JoBSeeKerS</h1>
        <div class="elements">
            <ul class="navigation">
               <!-- <a href=""><img src="assets/Homeimg2.png" alt="" class="center"></a>
                <a href=""><img src="assets/jobs1.png" alt=""></a>
                <a href=""><img src="assets/about.png" alt=""></a>  -->
                <a routerLink=""><img src="assets/profile1.png" alt=""></a>
            </ul>
        </div>
        </div>
</div>
<!-- <div class="inner-header"></div>
<ul>
    <li>
        <a href="">Profile</a>
    </li>
</ul> -->
<!-- <div class="card">
    <div class="card-container blue-container overflow-hidden">
        <div class="flex flex-wrap align-items-center justify-content-center">            
            <div class="bg-center bg-no-repeat w-10rem h-10rem bg-blue-500 border-round m-3" style="background-image: url('./assets/bgimg1.png'); background-size: 5rem;"></div>
        </div>
    </div>
</div> -->
<div class="main" style="background-image:url(',/assets/bg1.png');height: 400px;width: 100%; background-size: cover;background-repeat: no-repeat;">
    <div class="container">
        <div class="container1" style="float: left;"></div>
            <div class="container3">
                <div style="text-align: center">
                    <!-- <h2 style="color: green">GeeksforGeeks</h2>
                    <h5>PrimeNG Dialog Positioning</h5> -->
                  
                    <!-- <p-dialog position="left" 
                              header="GeeksforGeeks" >
                        <p>Left Dialog Positioning</p>
                    </p-dialog>
                  
                    <p-dialog position="right" 
                              header="GeeksforGeeks" >
                        <p>Right Dialog Positioning</p>
                    </p-dialog> -->
                  
                    <button class="button-26" role="button"  pButton type="button" 
                    label="Jobs To Apply" 
                    icon="pi pi-check" style="padding-right: 5px;width: 100px;border-radius:10px;height: 40px;">
                    </button>
                  
                    <button class="button-27" role="button" pButton label="Applied Jobs" 
                              icon="pi pi-check" style="padding-right: 5px;width: 100px;border-radius:10px;height: 40px;">
                    </button>
                </div>
                </div>
                <div class="container2">
                <!-- <p-table [value] = "user" [tableStyle]="{ 'min-width': '0rem' }">
                    <ng-template pTemplate="header">                    
                    <tr>
                        <th>Company Name</th>
                        <th>Job Role</th>
                        <th>Skills</th>
                        <th>Job Type</th>
                        <th>Experience</th>
                        <th>Application</th>
                    </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-a>
                    <tr>
                        <td>{{a.CompanyName}}</td>
                        <td>{{a.JobRole}}</td>
                        <td>{{a.Skill}}</td>
                        <td>{{a.JobType}}</td>
                        <td>{{a.Experience}}</td>
                        <td><button>Apply</button></td>
                        </tr>
                        </ng-template>
                </p-table>  -->
                </div>          
            </div>
            <div class="container3" style="float: right;"></div>  
        </div>
   

<!-- <div >
    <img src="assets/bgimg.jpeg" alt="">
</div> -->
<!-- <div class="bgimg"><div >
    <img [src]="myimage" alt="">
</div> -->
</body>
</html>